/*
    Author: Johnathan Sutan
    Last Updated: 7/30/21
    File linked: index.html, about.html, rules.html, main.js, audio_visual.js, itunes.js
*/

/* reset styles */
html {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    color:  #255496;
    /* opacity: 0.9; */
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    padding: 1%;
    font-size: medium;
}

/* body */
body{
    min-height: 100vh;
}

main{
    display: flex;
    /* flex-wrap: nowrap; */
    border-radius: 2rem;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 6% 1% 0 0;
    flex-flow: row wrap;
}

.nav_section{
    margin: 1% 1% 1% 2%;
    padding: 1%;
    display: flex;
    background: linear-gradient(
        to left bottom,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
        );
    border-radius: 2rem;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    align-self: stretch;
    height: 35rem;
}

.logo{
    display: flex;
    height: 16rem; 
    width: 16rem;
    justify-content: center;
    align-items: center;
}

/* site navigation bar */
.sitenavigation{
    display: flex;
    text-align: center;
    flex-flow: column wrap;
}

ul.sitenavigation li{
    list-style-type: none;
    margin: 0.5em;
}

li{
    padding: 2%;
    text-align: center;
    font-size: large;
}

article{
    margin: 1%;
    padding: 1%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    flex: 7;
    position: relative;
    padding-top: 1%;
}

.general{
    padding: 1%;
    align-self: stretch;
    height: 27.8rem;
}

div h2{
    padding: 1%;
    font-size: x-large;
    color: #00419D;
}

.general p{
    width: 60rem;
}

.song_history{
    margin: 1% 2% 1% 1%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    flex: 2;
    text-align: center;
    align-self: stretch;
    height: 35rem;
    padding: 1%;
}

#score{
    display: flex;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.3)
    );
    height: 12rem;
    width: 12rem;
    position: absolute;
    border-radius: 50%;
    visibility: hidden;
    top: 7%;
    right: 7%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

.flexbox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
}

#song_number{
    padding: 1%;
}

.buttons{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* https://stackoverflow.com/questions/20387534/prevent-mousedown-event-on-input-range-html-element-and-still-let-user-drag-slid/52007221 */
input[type=range]{
    pointer-events: none;
}

.level{
    width: 20%;
    -webkit-appearance: none; 
    appearance: none;
    background: #E1E6EC;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
    border-radius: 50px;
    margin: 12px 0;
    align-items: center;
}

#quiz{
    width: 40%;
}

#after_submit {
	visibility: hidden;
    padding: 2%;
    margin: 2%;
	border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#messsage_flex{
    display: flex;
    flex-direction: column;
}

#is_correct, #message{
    font-size: x-large;
}

#song_title{
    font-size: xx-large;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0%;
}

#by{
    font-size: medium;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0%;
}

#song_artist{
    font-size: x-large;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0%;
}

#picture {
	width: 187px;
	height: 122px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer_flex{
    display: flex;
    flex-shrink: 0;
    flex-basis: auto;
}

.bottom_left{
    display: flex;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 5%;
}

.bottom_right{
    display: flex;
    padding: 3%;
    flex-shrink: 0;
    flex-basis: auto;
}

.accent{
    font-weight: bold;
    font-size: 18px;
}

.small{
    font-size: small;
    flex-shrink: 0;
    flex-basis: auto;
    /* https://github.com/philipwalton/flexbugs#flexbug-1 */
}

.history_title{
    border-bottom: 0.5mm solid #6cdbeb; /* #65dfc9 OR #6cdbeb*/
    font-size: large;
    padding-bottom: 2%;
}

.song_list{
    height: 30rem;
    overflow: auto; /* requires a container of set height */
}

.song_played{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1mm solid #6cdbeb;
    border-radius: 40%;
    padding: 1%;
}

.circle_pic{
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
}

/* random soundwave visual */
svg{
    width: 30%;
    height: 60px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
    
/* Track */
::-webkit-scrollbar-track {
    background:#eff2f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7DCCD9; 
    border: 2px solid #eff2f5;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8BC2CB;
}

@media screen and (max-width: 1300px){
    main section, article{
        flex-basis: 100%;
    }
    .nav_section, article, .song_history{
        margin: 2%;
    }
}
@media screen and (max-width: 752px){
    #score{
        height: 10rem;
        width: 10rem;
        top: 2%;
        right: -1%;
        word-wrap: break-word;
    }
    .general p{
        height: auto;
        width: auto;
    }
    footer{
        margin-top: 14%;
    }
}